<% provide(:layout_type, 'header_text') %>
<% provide(:header_text, 'アカウント') %>
<% provide(:title, 'アカウント') %>

<div style="overflow-y:scroll;">
  <table>
    <tr>
      <th>ID</th>
      <th>操作</th>
      <th>aid</th>
      <th>name</th>
      <th>name_id</th>
      <th>activitypub_id</th>
      <th>icon_id</th>
      <th>banner_id</th>
      <th>followers_counter</th>
      <th>following_counter</th>
      <th>items_counter</th>
      <th>reactions_counter</th>
      <th>pinned_items</th>
      <th>explorable</th>
      <th>meta</th>
      <th>cache</th>
      <th>achievements</th>
      <th>online</th>
      <th>last_online</th>
      <th>invisible_online</th>
      <th>foreigner</th>
      <th>activated</th>
      <th>administrator</th>
      <th>moderator</th>
      <th>bot</th>
      <th>commercial</th>
      <th>kind</th>
      <th>discoverable</th>
      <th>manually_approves_followers</th>
      <th>summary</th>
      <th>public_key</th>
      <th>private_key</th>
      <th>location</th>
      <th>birthday</th>
      <th>languages</th>
      <th>email</th>
      <th>locked</th>
      <th>silenced</th>
      <th>suspended</th>
      <th>frozen</th>
      <th>settings</th>
      <th>storage_size</th>
      <th>storage_max_size</th>
      <th>password_digest</th>
      <th>deleted</th>
      <th>deleted_at</th>
    </tr>
    <% @accounts.each do |a| %>
      <tr>
        <td><%= a.id %></td>
        <td><%= link_to '詳細', edit_admin_account_path(a.aid) %></td>
        <td><%= a.aid %></td>
        <td><%= a.name %></td>
        <td><%= a.name_id %></td>
        <td><%= a.activitypub_id %></td>
        <td><%= a.icon_id %></td>
        <td><%= a.banner_id %></td>
        <td><%= a.followers_counter %></td>
        <td><%= a.following_counter %></td>
        <td><%= a.items_counter %></td>
        <td><%= a.reactions_counter %></td>
        <td><%= a.pinned_items %></td>
        <td><%= a.explorable %></td>
        <td><%= a.meta %></td>
        <td><%= a.cache %></td>
        <td><%= a.achievements %></td>
        <td><%= a.online %></td>
        <td><%= a.last_online %></td>
        <td><%= a.invisible_online %></td>
        <td><%= a.foreigner %></td>
        <td><%= a.activated %></td>
        <td><%= a.administrator %></td>
        <td><%= a.moderator %></td>
        <td><%= a.bot %></td>
        <td><%= a.commercial %></td>
        <td><%= a.kind %></td>
        <td><%= a.discoverable %></td>
        <td><%= a.manually_approves_followers %></td>
        <td><%= a.summary %></td>
        <td><%= a.public_key %></td>
        <td><%= a.private_key %></td>
        <td><%= a.location %></td>
        <td><%= a.birthday %></td>
        <td><%= a.languages %></td>
        <td><%= a.email %></td>
        <td><%= a.locked %></td>
        <td><%= a.silenced %></td>
        <td><%= a.suspended %></td>
        <td><%= a.frozen %></td>
        <td><%= a.settings %></td>
        <td><%= a.storage_size %></td>
        <td><%= a.storage_max_size %></td>
        <td><%= a.password_digest %></td>
        <td><%= a.deleted %></td>
        <td><%= a.deleted_at %></td>
      </tr>
    <% end %>
  </table>
</div>