<% provide(:title, 'リソース') %>
<% provide(:main_header_text, 'リソース') %>
<% content_for :main_content do %>
  <div><%= link_to 'リリースノート', release_notes_path %></div>
  <div><%= link_to 'ブログ', blog_path %></div>
  <div><%= link_to '基本情報', about_path %></div>
  <div><%= link_to 'ヘルプ', help_path %></div>
  <div><%= link_to 'フィードバック', feedback_path %></div>
  <div><%= link_to '詳細情報', info_path %></div>
  <div><%= link_to 'サイトマップ', sitemap_path %></div>
  <div><%= link_to '利用規約', tos_path %></div>
  <div><%= link_to 'プライバシーポリシー', privacy_policy_path %></div>
  <div><%= link_to '免責事項', disclaimer_path %></div>
<% end %>
<%= render 'layouts/default' %>