<%= form_with model: @invitation, url: invitations_create_path do |f| %>
  <%= render 'shared/error_messages', instead: @invitation %>
  <br/>
  <div class="text-field-group">
    <%= f.text_field :name, class: 'text-field-field', placeholder: '名前' %>
    <%= f.label :name, '名前', class: 'text-field-label' %>
  </div>
  <br/>
  <div class="text-field-group">
    <%= f.text_field :invitation_code, class: 'text-field-field', placeholder: 'invitation_code' %>
    <%= f.label :invitation_code, 'invitation_code', class: 'text-field-label' %>
  </div>
  <br/>
  <%= f.label :max_uses, 'max_uses' %>
  <%= f.number_field :max_uses %>
  <br/>
  <%= f.label :expires_at, 'expires_at' %>
  <%= f.datetime_field :expires_at %>
  <br/>
  <%= f.submit '作成' %>
<% end %>