<div class="item">
  <div class="item-details">
    <%= link_to account_path(item.account.name_id) do %>
      <div class="item-whose">
        <% if !item.account.icon_id.blank? %>
          <%= image_tag generate_ati_url(item.account.account_id, 'icon', item.account.icon_id), class: 'item_account_image' %>
        <% else %>
          <%= image_tag 'icon.webp', class: 'item_account_image' %>
        <% end %>
        <div class="item-account">
          <div class="item-account-profile">
            <div class="item-account-name">
              <%= item.account.name %>
            </div>
            <div class="item-account-name-id">
              @<%= item.account.name_id %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="item-r">
      <div class="item-day">
        <%= item.created_at.strftime("%Y年 %m月 %d日") %>
        <br />
        <%= item.created_at.strftime("%k時 %M分 %S秒") %>
      </div>
      <div class="item-menu">・・・</div>
    </div>
  </div>
  <%= link_to item_path(item.item_id), class: 'item-content-link' do %>
    <div class="item-content">
      <%= item.content %>
    </div>
  <% end %>
    <div class="item-media">
      <% item.images.each do |image| %>
        <%= image_tag generate_ati_url(image.account.account_id, 'images', image.image_id), class: 'item-image' %>
      <% end %>
    </div>
  <div class="item-reactions">
    <% item.reactions.group(:reaction_id).count.each do |key, value| %>
      <div class="item-reaction">
        <%= button_to item.reactions.find_by(reaction_id: key).content, react_path(item.item_id, key) %>
        <span><%= value %></span>
      </div>
    <% end %>
  </div>
  <div class="item-panel">
    <button>返信</button>
    <button>再投稿</button>
    <button>引用投稿</button>
    <details>
      <summary>リアクション追加</summary>
      <% Reaction.all.each do |reaction| %>
        <%= button_to reaction.content, react_path(item.item_id, reaction.reaction_id), method: :post %>
      <% end %>
    </details>
    <button>共有</button>
    <button>保存</button>
  </div>
  <% if item.item %>
    <div class="item-reply-to">
      reply to: <%= item.item.account.name %>
      <br />
      content: <%= item.item.content %>
      <br />
    </div>
  <% end %>
  <% if item.items %>
    <% item.items.each do |reply| %>
      <div class="item-reply-from">
        reply from: <%= reply.account.name %>
        <br />
        content: <%= reply.content %>
        <br />
      </div>
    <% end %>
  <% end %>
</div>