<div style="overflow-y:scroll;">
  <table>
    <tr>
      <th>ID</th>
      <th>詳細</th>
      <th>account_id</th>
      <th>name</th>
      <th>invitation_code</th>
      <th>uses</th>
      <th>max_uses</th>
      <th>expires_at</th>
      <th>boolean</th>
      <th>created_at</th>
      <th>updated_at</th>
    </tr>
    <% sessions.each do |s| %>
      <tr>
        <td><%= s.id %></td>
        <td><%= button_to '削除', sessions_delete_path(id: s.id), method: :delete %></td>
        <td><%= s.account_id %></td>
        <td><%= s.name %></td>
        <td><%= s.remote_ip %></td>
        <td><%= s.user_agent %></td>
        <td><%= s.uuid %></td>
        <td><%= s.deleted %></td>
        <td><%= s.created_at %></td>
        <td><%= s.updated_at %></td>
      </tr>
    <% end %>
  </table>
</div>