<footer>
  <div><%= link_to "P1", page1_path %></div>
  <div><%= link_to "P2", page1_path %></div>
  <div><%= link_to "HOME", root_path %></div>
  <div><%= link_to "P4", page1_path %></div>
  <div><%= link_to "P5", page1_path %></div>
</footer>