<header>
  <h1><%= full_title(yield(:title)) %></h1>
  <% if logged_in? %>
    <%= link_to('@' + current_account.name_id, account_path(current_account.name_id)) %>
    <%= button_to("Log out", logout_path, method: :delete) %>
    <% if current_account.administrator %>
      <%= link_to '管理画面', admin_root_path %>
    <% end %>
  <% else %>
    <%= link_to("Log in", login_path) %>
  <% end %>
</header>