<nav>
  <div class="nav-logo">
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon">🍭</div>
          <div class="nav-list-info">APIv0.1</div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="nav-ul">
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon">😀</div>
          <div class="nav-list-info">HOME</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon">🦄</div>
          <div class="nav-list-info">Discovery</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon">📚</div>
          <div class="nav-list-info">TL</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon">🎞️</div>
          <div class="nav-list-info">TV</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon">🎉</div>
          <div class="nav-list-info">Notice</div>
        </div>
      <% end %>
    </div>
    <div class="nav-li">
      <div id="theme-button">
        <div class="nav-list-container">
          <div class="nav-list-icon">📧</div>
          <div class="nav-list-info">DM</div>
        </div>
      </div>
    </div>
    <div class="nav-li">
      <% if @current_account %>
        <%= link_to account_path(@current_account.name_id) do %>
          <div class="nav-list-container">
            <% if @current_account.icon.attached? %>
              <%= image_tag show_icon_path(@current_account.name_id), class: 'nav-list-image-icon' %>
            <% else %>
              <%= image_tag 'icon.webp', class: 'nav-list-image-icon' %>
            <% end %>
            <div class="nav-list-info">Me</div>
          </div>
        <% end %>
      <% else %>
        <%= link_to login_path do %>
          <div class="nav-list-container">
            <div class="nav-list-icon">💖</div>
            <div class="nav-list-info">Login</div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="nav-menu">
    <div class="nav-li">
      <%= link_to root_path do %>
        <div class="nav-list-container">
          <div class="nav-list-icon">⚙️</div>
          <div class="nav-list-info">Settings</div>
        </div>
      <% end %>
    </div>
  </div>
</nav>