<% item = Item.new %>
<%= form_with model: item, url: items_path do |form| %>
  <%= render "shared/error_messages", instead: item %>
  <%= form.hidden_field :reply_item_id, value: (defined? initial_reply_item_id)  ? initial_reply_item_id : '' %>
  <%= form.hidden_field :quote_item_id, value: (defined? initial_quote_item_id)  ? initial_quote_item_id : '' %>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.label :cw, style: "display: block" %>
    <%= form.check_box :cw %>
  </div>

  <details>
    <summary>あなたのストレージの画像</summary>
    <% Image.where(account_id: @current_account.id).each do |image| %>
      <%= form.check_box :selected_images, { multiple: true }, image.image_id, nil %>
      <%= form.label image.image_id %>
    <% end %>
  </details>

  <div>
    <%= form.submit %>
  </div>
<% end %>
