<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<details>
  <summary>あなたのストレージの画像</summary>
  <% images.each do |image| %>
    <%= form.check_box :selected_images, { multiple: true }, image.image_id, nil %>
    <%= form.label image.image_id %>
  <% end %>
</details>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content %>
  </div>

  <div>
    <%= form.label :nsfw, style: "display: block" %>
    <%= form.check_box :nsfw %>
  </div>

  <div>
    <%= form.label :cw, style: "display: block" %>
    <%= form.check_box :cw %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
