<div id="<%= dom_id item %>">

  <p>
    <strong>Item type:</strong>
    <%= item.item_type %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= item.content %>
  </p>

  <p>
    <strong>Nsfw:</strong>
    <%= item.nsfw %>
  </p>

  <p>
    <strong>Cw:</strong>
    <%= item.cw %>
  </p>

</div>
