<div class="item">
  <div class="item-details">
    <%= link_to account_path(item.account.name_id) do %>
      <div class="item-whose">
        <% if !item.account.icon_id.blank? %>
          <%= image_tag generate_ati_url(item.account.account_id, 'icon', item.account.icon_id), class: 'item_account_image' %>
        <% else %>
          <%= image_tag 'icon.webp', class: 'item_account_image' %>
        <% end %>
        <div class="item-account">
          <div class="item-account-profile">
            <div class="item-account-name">
              <%= item.account.name %>
            </div>
            <div class="item-account-name-id">
              @<%= item.account.name_id %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="item-r">
      <div class="item-day">
        <%= item.created_at.strftime("%Y年 %m月 %d日") %>
        <br />
        <%= item.created_at.strftime("%k時 %M分 %S秒") %>
      </div>
      <div class="item-menu">・・・</div>
    </div>
  </div>
  <%= link_to item_path(item.item_id), class: 'item-content-link' do %>
    <div class="item-content">
      <%= item.content %>
    </div>
  <% end %>
    <div class="item-media">
      <% item.images.each do |image| %>
        <%= image_tag generate_ati_url(image.account.account_id, 'images', image.image_id), class: 'item-image' %>
      <% end %>
    </div>
  <div class="item-reactions">
    <% item.reactions.group(:reaction_id).count.each do |key, value| %>
      <div class="item-reaction">
        <%= button_to item.reactions.find_by(reaction_id: key).content, react_path(item.item_id, key) %>
        <span><%= value %></span>
      </div>
    <% end %>
  </div>
  <div class="item-panel">
    <div style="display: inline-block;">返信先<%= item.reply_to_items.count %></div>
    <details class="item-details">
      <summary>返信<%= item.reply_from_items.count %></summary>
      <div class="item-details-container">
        <%= render 'items/form', initial_reply_item_id: item.item_id %>
      </div>
    </details>
    <details>
      <summary>引用<%= item.quote_from_items.count %></summary>
      <div class="item-details-container">
        <%= render 'items/form', initial_quote_item_id: item.item_id %>
      </div>
    </details>
    <details>
      <summary>リアクション<%= item.reactions.count %></summary>
      <div class="item-details-container">
        <% Reaction.all.each do |reaction| %>
          <%= button_to reaction.content, react_path(item.item_id, reaction.reaction_id), method: :post %>
        <% end %>
      </div>
    </details>
    <details>
      <summary>共有</summary>
      <div class="item-details-container">
        https://amiverse.net/items/<%= item.item_id %>
      </div>
    </details>
    <details>
      <summary>保存</summary>
      <div class="item-details-container">
        ダウンロード・ブックマーク
      </div>
    </details>
  </div>
  <% if defined? show_reply_from %>
    <div class="item-reply">
      <% if !item.reply_from_items.empty? %>
        <div class="item-reply-from">
          📩返信
        </div>
        <% item.reply_from_items.each do |reply| %>
          <%= render 'items/item', item: reply %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>